<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sk8 Arg</title>

    <link rel="stylesheet" href="~/Content/TemplateHome/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/TemplateHome/slick/slick.css">
    <link rel="stylesheet" href="~/Content/TemplateHome/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/TemplateHome/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/TemplateHome/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/TemplateHome/css/templatemo-style.css" />
</head>
<body >
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->

        <div class="text-center tm-hero-text-container" style="background-image: url( ~/Content/images/Fondo.jpg); background-attachment: unset; background-repeat:round;">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Sk8 Arg</h2>
            <p class="tm-hero-subtitle">
                La mejor pagina de skateboarding argentina.
                <br />by Ciro,Feli y Conf
            </p>
        </div>
        </div>

        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/images/@ViewBag.Dou.Imagen" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <a href="@Url.Action("DetalleSKP","Home" , new{IdSKP = ViewBag.Dou.IdSkatePark})" class="tm-text-primary mb-4 tm-section-title">Skatepark Destacado</a>
                        <p class="mb-4 tm-intro-text">
                            A la derecha está la ubicación del Skatepark destacado!
                        </p>
                        <p class="mb-5 tm-intro-text">
                          @ViewBag.Dou.Desc
                        </p>
                        <div class="tm-next">
                            <a href="@Url.Action("ListSKP","Home")" class="tm-intro-text tm-btn-primary">Mas SkateParks</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tm-section-pad-top">
                
                    <div class="col-lg-4">
                        <a href="@Url.Action("ListSKP","Home")">
                            <img src="~/Content/images/skeit.png" class="fas fa-4x fa-bus text-center tm-icon" style="margin-left:147px; margin-bottom:39px" height="90" width="90">
                            <h4 class="text-center tm-text-primary mb-4" style="color:black">Skateparks</h4>
                        </a>
                        <p style="text-align: center">
                           Listado de Skateparks
                        </p>
                    </div>
                
                
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <a href="@Url.Action("ListHW","Home")">
                            <img src="~/Content/images/callet.png" class="fas fa-4x fa-bus text-center tm-icon" style="margin-left:147px; margin-bottom:39px" height="90" width="90">
                            <h4 class="text-center tm-text-primary mb-4" style="color:black">Hardware</h4>
                        </a>
                                <p style="text-align: center">
                                    Hardware para tu skate
                                </p>
                    </div>
               
                
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <a href="@Url.Action("ListRP","Home")">
                            <img src="~/Content/images/judi.png" class="fas fa-4x fa-bus text-center tm-icon" style="margin-left:148px; margin-bottom:39px" height="90" width="90">
                            <h4 class="text-center tm-text-primary mb-4" style="color:black">Ropa</h4>
                        </a>
                            <p style="text-align: center">
                                La mejor ropa para andar
                            </p>
                    </div>
                
            </div>
        </div>
    </section>
    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
            </div>

        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 tm-section-title">Contactanos</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>
                    <p class="mb-5">
                     Somos un grupo de jóvenes estudiantes de la Escuela Técnica ORT, 
                     Dejamos nuestros datos de contacto abajo.
                    </p>
                </div>

                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="tel:0100200340" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-phone mr-4"></i>
                        <span class="mb-0">0800-DON-ROUCH</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="mailto:Sk8arg@Company.co" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-envelope mr-4"></i>
                        <span class="mb-0">Sk8arg@Company.co</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="https://www.google.com.ar/maps/place/Isla+de+Pascua/-27.1258098,-109.4088545,12z/data=!3m1!4b1!4m5!3m4!1s0x9947f017a8d4ae2b:0xbbe5b3edc02a2db6!8m2!3d-27.112723!4d-109.3496865" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Donde estamos</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <form action="" method="get">
                        <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
                        <button type="submit" class="btn tm-btn-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center small tm-footer">
            <p class="mb-0">
                Copyright &copy; 2019 SK8ARG

             
            </p>
        </footer>
    </section>
    <script src="~/Content/TemplateHome/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/TemplateHome/slick/slick.min.js"></script>
    <script src="~/Content/TemplateHome/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/TemplateHome/js/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/TemplateHome/js/bootstrap.min.js"></script>
    </body>
 </html>