@using Sk8ARG.Models
@model Ropa
<link rel="stylesheet" type="text/css" href="~/Content/EstilosABM.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Btns.css" />

@{
    ViewBag.Title = "ABMS";
}
<h2>ABMSkatePark</h2>
<div class="ph-float">
    <a href='@Url.Action("IngresarRopa", "Backoffice", new {accion = "Ingresar" })' class='ph-button ph-btn-green'>Ingresar nueva Ropa</a>
</div>

<table>
    @foreach (Ropa Rp in ViewBag.Lr)
    {
        <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Destacar</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
        <tr>
            <td id="a2">@Rp.Nombre</td>
            <td><img src="~/Content/images/@Rp.Foto" width="199" height="99" /></td>
            @if (Rp.Dest)
            {
                <td id="a1">
                    <div class="ph-float">
                        <p href='' class='ph-button ph-btn-pink'>Ya destacada</p>
                    </div>
                </td>
            }
            else
            {
                <td id="a1">
                    <div class="ph-float">
                        <a href='@Url.Action("DestacarRopa", "Backoffice", new { idRopa = Rp.IdRopa })' class='ph-button ph-btn-green'>Destacar</a>
                    </div>
                </td>
            }
            <td id="a1">
                <div class="ph-float">
                    <a href='@Url.Action("EliminarRopa", "BackOffice", new { idRopa = Rp.IdRopa})' class='ph-button ph-btn-red'>Borrar</a>
                </div>
            </td>
            <td id="a1">
                <div id="asd" class="ph-container">
                    <div class="ph-float">
                        <a href='@Url.Action("EditarRopa", "Backoffice", new {idRopa = Rp.IdRopa, accion = "Editar"})' class='ph-button ph-btn-blue'>Editar</a>
                    </div>
                </div>
                <div class="ph-clear"></div>
            </td>
        </tr>
    }
</table>
