@using Sk8ARG.Models
@model SkateParks
<link rel="stylesheet" type="text/css" href="~/Content/EstilosABM.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Btns.css" />

@{
    ViewBag.Title = "ABMS";
}
<h2>ABMSkatePark</h2>
<div class="ph-float">
    <a href='@Url.Action("ingresar", "Backoffice", new {accion = "Ingresar" })'class='ph-button ph-btn-green'>Ingresar nuevo skatepark</a>
</div>

<table>
    @foreach (SkateParks SKP in ViewBag.Lskp)
    {
        <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Destacar</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
        <tr>
            <td id="a2">@SKP.Nombre</td>
            <td><img src="~/Content/images/@SKP.Imagen" width="199" height="99" /></td>
            @if (SKP.Destacado)
            {
                <td id="a1">
                    <div class="ph-float">
                        <p href='' class='ph-button ph-btn-pink'>Ya destacada</p>
                    </div>
                </td>
            }
            else
            {
                <td id="a1">
                    <div class="ph-float">
                        <a href='@Url.Action("Destacar", "Backoffice", new { idSKP = SKP.IdSkatePark })' class='ph-button ph-btn-green'>Destacar</a>
                    </div>
                </td>
            }
            <td id="a1">
                <div class="ph-float">
                    <a href='@Url.Action("Eliminar", "BackOffice", new { idSKP = SKP.IdSkatePark })' class='ph-button ph-btn-red'>Borrar</a>
                </div>
            </td>
            <td id="a1">
                <div id="asd" class="ph-container">
                    <div class="ph-float">
                        <a href='@Url.Action("editar", "Backoffice", new { idSKP = SKP.IdSkatePark, accion = "Editar"})' class='ph-button ph-btn-blue'>Editar</a>
                    </div>
                </div>
                <div class="ph-clear"></div>
            </td>
        </tr>
    }
</table>
