@using Sk8ARG.Models
@model SkateParks
@{
    ViewBag.Title = "ABMS";
}

@Html.ActionLink("Ingresar nuevo SKP", "ingresar", "BackOffice", new { accion = "Ingresar" }, null)
<table>
    @foreach (SkateParks SKP in ViewBag.LSkp)
    {
        if (SKP.Destacado)
        {
            ViewBag.dest = "Está destacado";
        }
        else
        {
            ViewBag.dest = "No está destacada";
        }
        <tr>
            <td><img src="~/Content/@SKP.Imagen" width="199" height="99" /></td>
            <td id="a2">@SKP.Nombre</td>
            <td id="a1">@ViewBag.dest</td>
            @if (SKP.Destacado)
            {
                <td id="a1"><img src="~/Content/yadestacada.jpg" width="199" height="99" /></td>
            }
            else
            {
                <td id="a1"><a href='@Url.Action("Destacar", "Backoffice", new { idSKP = SKP.IdSkatePark})'><img src="~/Content/destacar.jpg" width="199" height="99" /></a></td>
            }
            <td id="a1"><a href='@Url.Action("eliminar", "Backoffice", new { idSKP = SKP.IdSkatePark })'>X</a></td>
            <td id="a1"><a href='@Url.Action("editar", "Backoffice", new { idSKP = SKP.IdSkatePark, accion="Editar" })'>Editar</a></td>
        </tr>
    }
</table>
<h2>ABMSkatePark</h2>
